.container{
               width: 100%;
               background-color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3e9f1;
    margin-top: 10px;
}
.imagelogo{
    height: 70px;  
    background-color: #f3e9f1; 
    margin-left: 10px;
}
.lienpanier{
    display: flex;
}
.panier{
    list-style-type: none;
}
.image{
    height: 15rem;
    width: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 20px;
}
.produitlist{
    display: flex;
    border-radius: 20px;
    margin-top: 5%;
    justify-content: space-between;
    width: 100%;
    background-color: #f3e9f1; 
}
.footer{
    display: flex;
    margin-top: 10px;
    background-color: #f3e9f1;
}
.accueil{
    font-size: 20px;
    margin-left: 10px;
}
.main{
    display: flex;
    flex-direction: column;
}
.produitlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.carte{
    margin: 10px;
    border-radius: 20px;
}
.nomproduit{
    border-radius: 20px;
}
.produitliste{
    display: flex;
    flex-direction: column-reverse;
}
.panier{
    display: flex;
    border-radius: 20px;
    align-items: center;
}
.petitpanier{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-self: flex-end;
}
.panierpetit{
    display: flex;
    justify-content: space-between;
}
.totalpanier{
    display: flex;
    justify-content: end;
}
.formulaire{
    background-color: #f3e9f1;
    margin-top: 10px;
}
.ligne{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.form{
    display: flex;
    flex-direction: column;
}
.bouton{
    margin-top: 10px;
}
.order{
    margin: 10%;
}
.felicitation{
    font-size: 35px;
}
.nomarticle{
    color: black;
    display: flex;
    align-self: center;
}
.description{
    color: black;
    text-align: justify;
}
.article{
    color: black;
    margin-left: 2%;
    border-radius: 20px;
    margin-bottom: 2%;
}
.titrearticle{
    display: flex;
    justify-content: center;
    color: black;
}
.imagearticle{
    border-radius: 20px;
    display: flex;
    align-self: center;
    width: 75%;
    height: 40rem;
    object-fit: cover;
}
.cardbody{
    display: flex;
    justify-content: space-between;
}
td{
    text-align: center;
}
.list-none{
               color: black;
}

h1{
    font-size: 25px;
}
p{
    font-size: 15px;
}

.border-radius{
    border-radius: 20px;
}
th{
    text-align: center;
}

@media (min-width: 100px) and (max-width: 600px){
     .image{
         object-fit: cover;
     }
     .produitlist{
         display: flex;
         flex-direction: column;
     }
     .position{
         position: normal;
     }
     
}
@media (min-width: 600px) and (max-width: 1024px){
     .ligne{
         display: flex;
         flex-direction: column;
     }
     
}