.container{
               width: 100%;
}
.bg-1{
    background-color: white;
}
.h-20{
    height: 70px;          
}
.bg{
               background-color: #f3e9f1;
}
.flex{
               display: flex;
}
.mt{
    margin-top: 10px;
}
.mt-6{
    margin-top: 5%;
}
.ms{
    margin-left: 2%;
}
.items-center{
               align-items: center;
}
.list-none{
               color: black;
}
.row{
    flex-direction: row;
}
.direction{
    flex-direction: column;
}
.justify-content{
    justify-content: space-between;
}
h1{
    font-size: 25px;
}
p{
    font-size: 15px;
}
.h-10{
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
.border-radius{
    border-radius: 20px;
}
.pt-1{
    padding-top: 2%;
}
.ml-1{
    margin-left: 10px;
}
.my-1{
    margin-bottom: 2%;
}
.pt-2{
    margin-top: 10px;
}
.fs-1{
    font-size: 20px;
}
.h-1{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.objectif-fit{
    object-fit: cover;
}
.center{
    justify-content: center;
}
.bg-2{
    background-color: grey;
}
h2{
    font-size: 20px;
}
.h-2{
    width: 100%;
    height: 50px;
    object-fit: cover;
}
.wrap{
    flex-wrap: wrap;
}
.my-2{
    margin: 10%;
}
.fs-2{
    font-size: 35px;
}
.align-self{
    align-self: flex-end;
}
.border{
    border: black solid;
}
.pl-1{
    padding-left: 30%;
}
.h-11{
    width: 75%;
    height: 40rem;
    object-fit: cover;
}
.align{
    align-self: center;
}
th{
    text-align: center;
}

@media (min-width: 100px) and (max-width: 600px){
    .flex{
         display: flex;
     }
     .direction{
         flex-direction: column;
     }
     .column{
         flex-direction: column;
     }
     
}
@media (min-width: 600px) and (max-width: 1024px){
     .flex{
         display: flex;
     }
     .direction{
         flex-direction: column;
     }
     .column{
         flex-direction: column;
     }
     
}