.container{
               width: 100%;
}
.bg-1{
    background-color: white;
}
.h-20{
    height: 70px;          
}
.bg{
               background-color: #f3e9f1;
}
.flex{
               display: flex;
}
.mt{
    margin-top: 10px;
}
.mt-6{
    margin-top: 5%;
}
.items-center{
               align-items: center;
}
.list-none{
               list-style-type: none;
}
.row{
    flex-direction: row;
}
.direction{
    flex-direction: column;
}
.justify-content{
    justify-content: space-between;
}
h1{
    font-size: 25px;
}
.h-10{
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
.border-radius{
    border-radius: 20px;
}
.pt-1{
    padding-top: 2%;
}
.ml-1{
    margin-left: 2%;
}
.my-1{
    margin-bottom: 2%;
}
.pt-2{
    margin-top: 10px;
}
.fs-1{
    font-size: 20px;
}
.h-1{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.center{
    justify-content: center;
}
.bg-2{
    background-color: grey;
}
h2{
    font-size: 20px;
}
.h-2{
    width: 100%;
    height: 50px;
    object-fit: cover;
}
.wrap{
    flex-wrap: wrap;
}